@page "/login"
@model Friberg_car_rentals_v2.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div>
        <label>Email:</label>
        <input name="Email" />
    </div>

    <div>
        <label>Password:</label>
        <input type="password" name="Password" />
    </div>

    <div>
        <button type="submit">Logga in</button>
    </div>
</form>
<a asp-page="/Customers/Create">Skapa konto</a>
