@page "/login"
@model Friberg_car_rentals_v2.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-4">
<form method="post">
    <div>
        <label class="control-label">Email:</label>
        <input name="Email" class="form-control"/>
    </div>
    <div>
        <label class="control-label">Password:</label>
        <input type="password" name="Password" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Logga in" class="btn btn-primary" />
    </div>
</form>
</div>
<a asp-page="/Customers/Create">Skapa konto</a>
