@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Friberg Car Rentals</h1>
    @if (ViewData["CurrentUserName"] != null)
    {
        <p>
            Välkommen @ViewData["CurrentUserName"]
        </p>
    }
    @if (ViewData["CurrentAdmin"] != null)
    {
        <p>
            Du är inloggad som @ViewData["CurrentAdmin"]
        </p>
    }
    
</div>
