@page
@model IndexModel

@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1>Friberg Car Rentals</h1>
    @if (ViewData["CurrentUserName"] != null)
    {
        <p>
            Välkommen @ViewData["CurrentUserName"]
        </p>
    }
    @if (ViewData["CurrentAdmin"] != null)
    {
        <p>
            Du är inloggad som @ViewData["CurrentAdmin"]
        </p>
    }
    <div class="image-container-center">
        <img src="https://cdn.discordapp.com/attachments/1146376129490452552/1194721584179597535/friberg_logo_animation.webp" />
    </div>
    @*Animated logo by Gustaf von Schèele Frejd and Jimmie Magnusson, 
        clean logo by Emil Waara, favicon by Jimmie Magnusson.*@
</div>
