@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewData["CurrentUserName"] != null)
    {
        <p>
            Välkommen @ViewData["CurrentUserName"]
        </p>
    }
    @if (ViewData["CurrentAdmin"] != null)
    {
        <p>
            Du är inloggad som @ViewData["CurrentAdmin"]
        </p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
