@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritets-policy";
}
<h1>@ViewData["Title"]</h1>

<p>Vi på Friberg Car Rentals värnar om din integritet. Därför sparar vi dina uppgifter och lösenord i plain text och utan kryptering. Bra va!?</p>
